<h3>{{leyendaHijo}} - {{progreso}}</h3>
<div class="input-group">
  <!--  BOTON - -->
  <div class="input-group-prepend">
    <button (click)="cambiaValor(-5)"
            [ngClass]="btnClass"
            type="button">
      <i class="mdi mdi-minus"></i>
    </button>
  </div>
  <!--  INPUT VALOR - caja de texto-->
  <input type="number"
         placeholder="Progreso"
         class="form-control" min="1" max="100"
         [ngClass]="{'is-invalid': progreso >100 || progreso <0 }"
         (ngModelChange)="onChangess($event)"
         [(ngModel)]="progreso">
  <div class="input-group-append">
    <!--    BOTON +-->
    <button (click)="cambiaValor(+5)"
            [ngClass]="btnClass"
            type="button">
      <i class="mdi mdi-plus"></i>
    </button>
  </div>
</div>
